body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7FB3D5;
    color: #363636;
}
/* Estilos del Header */
header {
    background-color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D3D3D3;
}

.logo h1{
    font-size: 60px;
    
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 150px; /* Ajusta el tamaño según sea necesario */
    width: auto;
    margin-right: 100px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: #555555;
    text-decoration: none;
    font-weight: bold;
}
/* Estilos de la sección de Dos Columnas */
.section {
    display: flex;
    padding: 20px;
}
.columna1, .columna2 {
    flex: 1;
}
.columna1 {
    padding-right: 20px;
}
.columna2 {
    padding-left: 20px;
}
.columna2 h1 {
    margin-top: 0;
    font-size: 40px;
}
.columna2 p {
    font-size: 26px;
    line-height: 1.6;
}
.llamada-accion {
    display: block;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    width: 180px;
}
.llamada-accion:last-child {
    margin-right: 0;
}