body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #FFFFFF; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-top: 0;
    text-align: center;
    color: #555555; 
}
input[type="email"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #7FB3D5; 
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #98FF98; 
    color: #FFFFFF; 
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #7FB3D5; 
}
#message {
    display: none;
    color: #555555; 
    text-align: center;
}
#loginButton {
    display: none;
    width: 100%;
    padding: 10px;
    background-color: #555555; 
    color: #FFFFFF; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#loginButton:hover {
    background-color: #7FB3D5; 
}